.text-normal {
    -fx-font-size: 13px;
    -fx-font-family: "Avenir Book";
}

.text-smaller {
    -fx-font-size: 11px;
    -fx-font-family: "Avenir Book";
}

.text-larger {
    -fx-font-size: 15px;
    -fx-font-family: "Avenir Book";
}

.text-even-larger {
    -fx-font-size: 20px;
    -fx-font-family: "Avenir Book";
    -fx-font-weight: 600;
}

#logo {
    -fx-font-size: 48px;
    -fx-font-family: "Phosphate";
}
#logo-twirl {
    -fx-font-size: 64px;
    -fx-font-family: "SignPainter";
    -fx-text-fill: #FFAC33;
}
.recipe-list-item{
    -fx-border-width: 1px;
    -fx-border-color:#999999;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;

}
.recipe-list-item: hover{
    -fx-background-color: #FCFCFC;
    -fx-cursor: hand;
}
.text-area .content{
    -fx-background-color: -fx-background;
}
.text-area{
    -fx-background-color: -fx-background;
}